{% extends "base_generic.html" %}

{% block title %}PLS - Psychomotor Learning System{% endblock %}

{% block content %}

<div class="container my-5">
    <div class="jumbotron">
        <h1 class="mb-4">Response</h1>
        {% if status != "success" %}
            <div class="alert alert-danger" role="alert">
                There was an error while generating a response: {{ error_message|linebreaksbr }}
            </div>
        {% else %}
            <div class="alert alert-success" role="alert">
              {{ generated_response }}
            </div>
        {% if is_last %}
            <a class="btn btn-primary font-weight-bold text-white" href="/get_next_question/" id="reports-button">Continue</a>
        {% else %}
            <a class="btn btn-primary font-weight-bold text-white" href="/next_movement/" id="continue-button">Continue</a>
        {% endif %}

        {% endif %}
    </div>
</div>
<script>
    function delayedButtonClick() {
        {% if is_last %}
            // Get the button element
            var reportsButton = document.getElementById("reports-button");
            // Simulate a click on the button
            reportsButton.click();
        {% else %}
            // Get the button element
            var continueButton = document.getElementById("continue-button");
            // Simulate a click on the button
            continueButton.click();
        {% endif %}
    }
    console.log("CAPTURE")

    setTimeout(delayedButtonClick, 2000);
</script>
{% endblock %}