{% extends "base_generic.html" %}

{% block title %}KLS - Psychomotor Learning System{% endblock %}

{% block content %}
<div class="container my-5">
  <div class="jumbotron">
    <h1 class="mb-4">KLS - Kenpo Learning System</h1>
    <p class="lead">KLS is a system for learning psychomotor activities that uses the mCMARR framework.</p>
    <hr class="my-4">
    <p>This framework includes five main components:</p>
    <ul>
      <li><strong>Motion Capture:</strong> This component involves capturing movements made by the learner during a specific activity. The movements are captured using technology such as cameras or sensors.</li>
      <li><strong>Motion Model:</strong> The captured information is then modeled to create a representation of the movement made by the learner. This is done using computer software or other tools.</li>
      <li><strong>Motion Analysis:</strong> The modeled information is then analyzed. The analysis can identify areas of improvement and suggest ways to enhance the learner's performance.</li>
      <li><strong>Motion Response:</strong> Based on the analysis, feedback is provided to the user to help them improve their performance. This can be done in real-time or after the activity is completed.</li>
      <li><strong>Motion Reports:</strong> Finally, a report of the learner's overall performance is generated. This report can be used by instructors and trainers to monitor the progress of their students.</li>
    </ul>
    <hr class="my-4">
    <p>KLS is designed to help users learn psychomotor activities more effectively by providing them with detailed feedback and analysis of their movements. It can be used by individuals to improve their own performance, as well as by instructors and trainers to monitor the progress of their students. If you would like to learn more about KLS, please contact us.</p>
    <center>
      <a class="btn btn-primary font-weight-bold text-white" href="/upload_template/">Upload Template</a>
      <a class="btn btn-primary font-weight-bold text-white" href="/start_set/">Start Set</a>
    </center>
  </div>
</div>
{% endblock %}