{% extends "base_generic.html" %}

{% block title %}KLS - Psychomotor Learning System{% endblock %}

{% block content %}

<div class="container my-5">
  <div class="jumbotron">
    <h1>Terms of Use</h1>
    <p>The Kenpo Learning System (KLS) application is provided solely for academic use. By using the KLS application, you agree to the following terms and conditions:</p>
    <ol>
        <li>The KLS application is provided under the terms of the <a href="https://www.gnu.org/licenses/agpl-3.0.en.html">GNU Affero General Public License (AGPL) Version 3.0</a> as published by the Free Software Foundation.</li>
      <li>The KLS application may be used only for academic purposes, and not for any commercial or for-profit purposes.</li>
      <li>The KLS application may not be used for any illegal or unauthorized purpose. Users are responsible for complying with all applicable laws, regulations, and policies.</li>
      <li>The KLS application may be updated or modified at any time without notice.</li>
      <li>Users are solely responsible for any data or content they upload or submit through the KLS application.</li>
      <li>Users agree to indemnify and hold harmless the creators and operators of the KLS application from any claims, damages, or liabilities arising from their use of the application.</li>
      <li>These terms and conditions may be updated or modified at any time without notice.</li>
      <li>If you modify the KLS application, you must make the modified source code available to users when they access the application over a network under the <a href="https://www.gnu.org/licenses/agpl-3.0.en.html">GNU Affero General Public License (AGPL) Version 3.0</a> license as published by the Free Software Foundation.</li>
    </ol>

    <p>All other content on this platform, including but not limited to images, text, videos, and any non-software components, is licensed under the <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.es">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License (CC-BY-SA-NC)</a></a>.</p>
  </div>
</div>
{% endblock %}
