{% extends "base_generic.html" %}

{% block title %}PLS - Psychomotor Learning System{% endblock %}

{% block content %}

<div class="container my-5">
  <div class="jumbotron">
    {% if status == "success" %}
      <p class="text-success"><i class="mdi mdi-checkbox-marked-circle-outline"></i> Your template has been processed successfully.</p>
    {% else %}
      <p class="text-danger"><i class="mdi mdi-alert-circle-outline"></i> {{ error_message|linebreaksbr }}</p>
    {% endif %}
    <div style="text-align: center">
        <a href="{% url 'home' %}" class="btn btn-primary">Return to Home</a>
    </div>
  </div>
</div>
{% endblock %}
